.app {
    display: flex;
    background-color: rgb(46, 46, 46);
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

table{
    padding: 0px;
}

.otro{
    width: calc(6.5em + 1vw);
}

.col-0, .row {
    padding: 0px;
}


.mycard {
    width: 300px;
}

.avatar {
    border-radius: 20px;
    width: 40px;
    height: 40px;
}

.avatarlg {
    border-radius: 5px;
    width: 65px;
    height: 65px;
}

li {
    list-style-type: none;
    cursor: pointer;
}

.text-description-sm {
    font-size: 0.7rem;
    color: gray;
}

.text-description {
    font-size: 0.8rem;
    color: gray;
}

a {
    margin-top: 1px;
    color: black;
    font-size: 0.8rem;
}

.icon-back {
    width: 20px;
    height: 20px;
    margin-right: 2px;
}

.icon-search {
    width: 20px;
    height: 20px;
    margin-bottom: 4px;
}

.btn-back {
    cursor: pointer;
}

.lista {
    width: 100%;
    max-height: 89vh;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.input-search {
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
    font-size: max(16px, 1em);
    padding: 0.25em 0.5em;
    color: rgb(68, 68, 68);
}

.input-search:active {
    border: none;
    outline: none;
}

.search {
   padding-top: 1vh;
   padding-bottom: 1vh;
}

.boton {
    cursor: pointer;
}

.icon-card {
    width: 15px;
    height: 15px;
}

.icon-normal {
    width: 20px;
    height: 20px;
}

.icon-small {
    width: 13px;
    height: 13px;
}

.icon-large {
    width: 30px;
    height: 30px;
}
